/bin/eclipse
/bin/hg-prompt/prompt.pyc
/bin/lein
/bin/nb
/byobu/.screenrc
/byobu/.ssh-agent
/byobu/.tmux.conf
/byobu/.welcome-displayed
/centerim/j*
/centerim/pid
/config/Code
/config/Empathy/*
/config/LightTable/*
/config/QtProject.conf
/config/Thunar/*
/config/Trolltech.conf
/config/Wuala.cfg
/config/akonadi/*
/config/audacious/*
/config/autostart/*
/config/baloofilerc
/config/breezerc
/config/cairo-compmgr/*
/config/caja/desktop-metadata
/config/calibre/*
/config/chromium/*
/config/compiz-1/compizconfig/config
/config/compiz-1/compizconfig/done_upgrades
/config/compiz/*
/config/configstore/*
/config/dconf/user
/config/desktop-couch/*
/config/drkonqirc
/config/emaildefaults
/config/enchant/*
/config/f-spot/*
/config/folder-color/hide_donation
/config/google-chrome/*
/config/gtk-2.0/*
/config/gtk-3.0/*
/config/gtk-3.0/bookmarks
/config/gtk-3.0/settings.ini
/config/gtkrc
/config/gtkrc-2.0
/config/gwenviewrc
/config/gxine/*
/config/htop/htoprc
/config/ibus/
/config/indicators/*
/config/inkscape/*
/config/kde.org/libphonon.conf
/config/libaccounts-glib
/config/libfm/*
/config/libreoffice/*
/config/mate
/config/mate-menu
/config/menus/*
/config/midori/*
/config/mimeapps.list
/config/monitors.xml
/config/nautilus/accels
/config/nautilus/desktop-metadata
/config/nitrogen/*
/config/node-webkit
/config/notificationhelper
/config/openbox/*
/config/oxygen-gtk/argb-apps.conf
/config/pcmanfm/*
/config/plank
/config/powerdevilrc
/config/powermanagementprofilesrc
/config/pulse/cookie
/config/sakura/*
/config/smplayer/*
/config/software-center
/config/softwarecenter
/config/softwarecenter/*
/config/spotify
/config/sqlgraph
/config/sublime-text-2/*
/config/synaptiks/management.json
/config/synaptiks/touchpad-config.json
/config/synaptiks/touchpad-defaults.json
/config/tint2/*
/config/totem/*
/config/transmission/*
/config/ubuntu-ui-toolkit/*
/config/ubuntuone/*
/config/unity3d
/config/update-notifier
/config/user-dirs.dirs
/config/user-dirs.locale
/config/variety
/config/vlc/vlc-qt-interface.conf
/config/vlc/vlcrc
/config/volumeicon/*
/config/xfce4/*
/emacs.d/
/emacs.d.orig.orig/#*
/emacs.d.orig/#.newsrc-dribble#
/emacs.d.orig/.DS_Store
/emacs.d.orig/.cider-repl-history
/emacs.d.orig/.directory
/emacs.d.orig/.ditz-config
/emacs.d.orig/.edbi-ds-history
/emacs.d.orig/.mc-lists.el
/emacs.d.orig/.newsrc-dribble
/emacs.d.orig/.nnmail-cache
/emacs.d.orig/.svn
/emacs.d.orig/ac-comphist.dat
/emacs.d.orig/anything-c-adaptive-history
/emacs.d.orig/async-bytecomp.log
/emacs.d.orig/auto-save-list
/emacs.d.orig/backups/*
/emacs.d.orig/bm-repository
/emacs.d.orig/bookmarks
/emacs.d.orig/cider-repl-history
/emacs.d.orig/cnb/init.el
/emacs.d.orig/custom.el
/emacs.d.orig/ede-projects.el
/emacs.d.orig/elim/
/emacs.d.orig/elpa/*
/emacs.d.orig/emacs-custom.el
/emacs.d.orig/emacs.bmk
/emacs.d.orig/emacsregisters.el
/emacs.d.orig/helm-adaptive-history
/emacs.d.orig/helm-c-adaptive-history
/emacs.d.orig/history
/emacs.d.orig/image-dired/
/emacs.d.orig/jabber-history/*
/emacs.d.orig/loaddefs.el*
/emacs.d.orig/oauth2.plstore
/emacs.d.orig/places
/emacs.d.orig/projectile-bookmarks.eld
/emacs.d.orig/projectile.cache
/emacs.d.orig/rake.cache
/emacs.d.orig/recentf
/emacs.d.orig/recentf~
/emacs.d.orig/semanticdb/*
/emacs.d.orig/session*
/emacs.d.orig/sql_history
/emacs.d.orig/tramp
/emacs.d.orig/url/
/fonts/fonts.dir
/lein/indices/
/lein/repl-history
/lein/repl-port
/lein/self-installs/
/mutt/cache/
/mutt/certificates
/mutt/profile.active
/my.cnf
/newsbeuter/cache.db
/newsbeuter/cache.db.lock
/newsbeuter/error.log
/newsbeuter/history.cmdline
/newsbeuter/history.search
/newsbeuter/urls
/w3m/.arrived
/w3m/.cookie
/w3m/.sessions
/w3m/.textarea/
/w3m/cookie
/w3m/history
/w3m/w3mcache*
/w3m/w3mel*
/w3m/w3msrc*
/w3m/w3mtmp*
/xmonad/history
/xmonad/lib/XMonad/Config/Mate.hi
/xmonad/lib/XMonad/Config/Mate.o
/xmonad/xmonad-i386-linux
/xmonad/xmonad-x86_64-linux
/xmonad/xmonad.errors
/xmonad/xmonad.hi
/xmonad/xmonad.hs
/xmonad/xmonad.o
emacs.d/.mc-lists.el
/config/user-share/passwd
/config/nvim/.netrwhist
/config/gmpc/
/config/synapse/config.json
