/GIMP
/SpaceVim.d/.netrwhist
/SpaceVim/
/bin/cols
/bin/eclipse
/bin/hg-prompt/prompt.pyc
/bin/lein
/bin/nb
/byobu/.screenrc
/byobu/.ssh-agent
/byobu/.tmux.conf
/byobu/.welcome-displayed
/centerim/j*
/centerim/pid
/config/.nautilus-admin-warn-shown
/config/Atom
/config/Code
/config/Code - Insiders
/config/Empathy/*
/config/GitKraken/*
/config/GoogleDocsdocsgooglecom/
/config/KDE
/config/LightTable/*
/config/Mailspring/
/config/Mousepad/accels.scm
/config/QtProject.conf
/config/Slack/
/config/Thunar/*
/config/Trolltech.conf
/config/VirtualBox/
/config/VirtualBoxrc
/config/Wuala.cfg
/config/Zeal
/config/akonadi*
/config/akonadi/*
/config/akregatorrc
/config/arkrc
/config/atril/
/config/audacious/*
/config/autostart/slack.desktop
/config/baloofilerc
/config/baloorc
/config/bluedevilglobalrc
/config/bookworm
/config/breezerc
/config/cairo-compmgr/*
/config/caja-actions/caja-actions.conf
/config/caja/*
/config/calibre/*
/config/calibrerc
/config/cantata/
/config/chromium/*
/config/classicmenu-indicator/config.json
/config/com.ubuntu.terminal/com.ubuntu.terminal.conf
/config/compiz-1/compizconfig/config
/config/compiz-1/compizconfig/done_upgrades
/config/compiz-1/compizconfig/firstrun
/config/compiz/*
/config/configstore/*
/config/connectivity-service/config.ini
/config/dconf/
/config/dconf/user
/config/desktop-couch/*
/config/device_automounter_kcmrc
/config/discoverrc
/config/dleyna-renderer-service.conf
/config/dleyna-server-service.conf
/config/dolphinrc
/config/drkonqirc
/config/emaildefaults
/config/emailidentities
/config/enchant/*
/config/eog/accels
/config/erl_observer/config.txt
/config/eventviewsrc
/config/evince/accels
/config/evince/print-settings
/config/evolution
/config/f-spot/*
/config/folder-color/hide_donation
/config/foldermailarchiverc
/config/geany/
/config/gedit/gedit-page-setup
/config/gedit/gedit-print-settings
/config/git-cola/
/config/git/gitk
/config/gmpc/
/config/gnome-boxes/sources
/config/gnome-builder/
/config/gnome-control-center/
/config/gnome-games/
/config/gnome-initial-setup-done
/config/gnome-layout-manager/
/config/goa-1.0/accounts.conf
/config/google-chrome/*
/config/gthumb/
/config/gtk-2.0/*
/config/gtk-3.0/bookmarks
/config/gtk-3.0/servers
/config/gtk-3.0/settings.ini
/config/gtkrc
/config/gtkrc-2.0
/config/gwenviewrc
/config/gxine/*
/config/headerthemeeditorrc
/config/htop/htoprc
/config/ibus/
/config/indicators/*
/config/inkscape/*
/config/kaccessrc
/config/kactivity*
/config/kalarmrc
/config/kate*
/config/kcalcrc
/config/kcmdisplayrc
/config/kcmfonts
/config/kcminputrc
/config/kcmsambarc
/config/kcmshell5rc
/config/kconf_updaterc
/config/kde*
/config/kde.org/libphonon.conf
/config/kdialogrc
/config/kfontinstuirc
/config/kfontviewrc
/config/kgammarc
/config/kglobalshortcutsrc
/config/khelpcenterrc
/config/khotkeysrc
/config/kinfocenterrc
/config/kiorc
/config/kmail*
/config/kmenueditrc
/config/kmixrc
/config/knotifyrc
/config/konsolerc
/config/korgacrc
/config/korganizerrc
/config/kritadisplayrc
/config/kritarc
/config/krunnerrc
/config/kscreenlockerrc
/config/kservicemenurc
/config/ksmserverrc
/config/ksplashrc
/config/ksysguardrc
/config/ktimezonedrc
/config/ktorrent_infowidgetrc
/config/ktorrentrc
/config/kwalletmanager5rc
/config/kwalletrc
/config/kwinrc
/config/kwinrulesrc
/config/kxkbrc
/config/libaccounts-glib
/config/libfm/*
/config/libreoffice/*
/config/libvirt
/config/lxc/default.conf
/config/mailtransports
/config/mate
/config/mate-menu
/config/mc/
/config/menus/*
/config/midori/*
/config/mimeapps.list
/config/monitors-v1-backup.xml
/config/monitors.xml
/config/monitors.xml~
/config/muonrc
/config/nautilus
/config/nautilus/accels
/config/nautilus/desktop-metadata
/config/nitrogen/*
/config/node-webkit
/config/notificationhelper
/config/nvim/.netrwhist
/config/okularpartrc
/config/okularrc
/config/openbox/*
/config/oxygen-gtk/argb-apps.conf
/config/parcellite/parcelliterc
/config/pcmanfm/*
/config/pgcli/history
/config/pgcli/log
/config/phishingurlrc
/config/plank
/config/plasma*
/config/pluma/
/config/powerdevilrc
/config/powermanagementprofilesrc
/config/print-manager
/config/pulse/
/config/pulse/cookie
/config/sakura/*
/config/session/
/config/signond
/config/smplayer/*
/config/software-center
/config/softwarecenter
/config/softwarecenter/*
/config/specialmailcollectionsrc
/config/spectacle.notifyrc
/config/spectaclerc
/config/spotify
/config/sqlgraph
/config/startupconfig
/config/startupconfigfiles
/config/startupconfigkeys
/config/sublime-text-2/*
/config/sublime-text-3/Cache
/config/sublime-text-3/Index
/config/sublime-text-3/Installed Packages/
/config/sublime-text-3/Local
/config/sublime-text-3/Packages/.logs/
/config/sublime-text-3/Packages/ElixirSublime/
/config/sublime-text-3/Packages/SublimeLinter/
/config/sublime-text-3/Packages/SublimeREPL/
/config/sublime-text-3/Packages/SummitEditor/
/config/sublime-text-3/Packages/User/.SublimeREPLHistory/
/config/sublime-text-3/Packages/User/.vintageousrc
/config/sublime-text-3/Packages/User/Default.sublime-commands
/config/sublime-text-3/Packages/User/GitSavvy/
/config/sublime-text-3/Packages/User/Package Control.cache/
/config/sublime-text-3/Packages/User/Package Control.last-run
/config/sublime-text-3/Packages/User/Package Control.merged-ca-bundle
/config/sublime-text-3/Packages/User/Package Control.user-ca-bundle
/config/sublime-text-3/Packages/User/SublimeLinter/
/config/sublime-text-3/Packages/User/toggle_vintageous.py
/config/sublime-text-3/Packages/markupsafe/
/config/sublime-text-3/Packages/mdpopups/
/config/sublime-text-3/Packages/pygments/
/config/sublime-text-3/Packages/python-jinja2/
/config/sublime-text-3/Packages/python-markdown/
/config/sublime-text-3/Packages/pyyaml/
/config/synaptiks/management.json
/config/synaptiks/touchpad-config.json
/config/synaptiks/touchpad-defaults.json
/config/systemmonitorrc
/config/systemsettingsrc
/config/terminator/config
/config/terminology/
/config/tilda
/config/tilda
/config/tint2/*
/config/totem/*
/config/transmission/*
/config/trashrc
/config/ubuntu-system-settings/wizard-has-run
/config/ubuntu-ui-toolkit/*
/config/ubuntuone/*
/config/unity/first_run.stamp
/config/unity3d
/config/update-notifier
/config/user-dirs.dirs
/config/user-dirs.locale
/config/user-share/passwd
/config/variety
/config/vlc/vlc-qt-interface.conf
/config/vlc/vlcrc
/config/vlcrc
/config/volumeicon/*
/config/webengineurlinterceptoradblockrc
/config/wireshark/
/config/wtf/log.txt
/config/xfce4/*
/config/yakuake.notifyrc
/config/yakuakerc
/config/yelp/yelp.cfg
/emacs.d.orig.orig/#*
/emacs.d.orig/#.newsrc-dribble#
/emacs.d.orig/.DS_Store
/emacs.d.orig/.cider-repl-history
/emacs.d.orig/.directory
/emacs.d.orig/.ditz-config
/emacs.d.orig/.edbi-ds-history
/emacs.d.orig/.mc-lists.el
/emacs.d.orig/.newsrc-dribble
/emacs.d.orig/.nnmail-cache
/emacs.d.orig/.svn
/emacs.d.orig/ac-comphist.dat
/emacs.d.orig/anything-c-adaptive-history
/emacs.d.orig/async-bytecomp.log
/emacs.d.orig/auto-save-list
/emacs.d.orig/backups/*
/emacs.d.orig/bm-repository
/emacs.d.orig/bookmarks
/emacs.d.orig/cider-repl-history
/emacs.d.orig/cnb/init.el
/emacs.d.orig/custom.el
/emacs.d.orig/ede-projects.el
/emacs.d.orig/elim/
/emacs.d.orig/elpa/*
/emacs.d.orig/emacs-custom.el
/emacs.d.orig/emacs.bmk
/emacs.d.orig/emacsregisters.el
/emacs.d.orig/helm-adaptive-history
/emacs.d.orig/helm-c-adaptive-history
/emacs.d.orig/history
/emacs.d.orig/image-dired/
/emacs.d.orig/jabber-history/*
/emacs.d.orig/loaddefs.el*
/emacs.d.orig/oauth2.plstore
/emacs.d.orig/places
/emacs.d.orig/projectile-bookmarks.eld
/emacs.d.orig/projectile.cache
/emacs.d.orig/rake.cache
/emacs.d.orig/recentf
/emacs.d.orig/recentf~
/emacs.d.orig/semanticdb/*
/emacs.d.orig/session*
/emacs.d.orig/sql_history
/emacs.d.orig/tramp
/emacs.d.orig/url/
/emacs.d/
/emacs.d/.mc-lists.el
/fonts/.uuid
/fonts/fonts.dir
/lein/indices/
/lein/repl-history
/lein/repl-port
/lein/self-installs/
/mutt/cache/
/mutt/certificates
/mutt/profile.active
/my.cnf
/newsbeuter/cache.db
/newsbeuter/cache.db.lock
/newsbeuter/error.log
/newsbeuter/history.cmdline
/newsbeuter/history.search
/newsbeuter/urls
/oh-my-zsh-custom/themes/spaceship-prompt/
/spacemacs.d/.spacemacs.env
/spacemacs.d/custom.el
/spacemacs.d/spacemacs.env
/vim/.netrwhist
/vim/bundle/
/vim/swaps/.swp
/vscode/extensions
/w3m/.arrived
/w3m/.cookie
/w3m/.sessions
/w3m/.textarea/
/w3m/cookie
/w3m/history
/w3m/w3mcache*
/w3m/w3mel*
/w3m/w3msrc*
/w3m/w3mtmp*
/wtf/todo.yml
/xmonad/history
/xmonad/lib/XMonad/Config/Mate.hi
/xmonad/lib/XMonad/Config/Mate.o
/xmonad/xmonad-i386-linux
/xmonad/xmonad-x86_64-linux
/xmonad/xmonad.errors
/xmonad/xmonad.hi
/xmonad/xmonad.hs
/xmonad/xmonad.o
