[Desktop Entry]
Name=Tilda
GenericName=Tilda
Comment=Tilda
Exec=tilda
Terminal=false
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=false
